@use '../../styles/variables' as *;

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .cart-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    h1 {
      font-weight: 800;
      color: $primary-dark;
    }
    .back-btn {
      background: none;
      border: none;
      cursor: pointer;
      color: $primary-dark;
    }
  }
}
