@use '../../styles/variables' as *;

.dashboard-view{
    display: flex;
    flex-direction: column;
    .main-title{
        font-size: 1.8rem;
        color: $primary-dark;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
}