@use '../../styles/variables' as *;

.inventory-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%; /* make the outer container span its parent */

  .add-product-btn {
    background: linear-gradient(90deg, $accent-pink 0%, #f785d4 100%);
    color: white;
    border: none;
    padding: 18px 40px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 0 10px 25px rgba(219, 133, 247, 0.4);
    cursor: pointer;
  }
  .product-list {
    /* allow the grid to expand when parent is using align-items:center */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}
